#X00WrapperLogin, #X00WrapperMain {
  margin: 20px auto;
  width: 700px;
}
#X00ImageHeader {
  max-width: 100%;
  margin-top: -32px;
}
@media (max-width: 767px) { 
  #X00WrapperLogin, #X00WrapperMain {
    width: 95%;
  }
}
@media (max-width: 480px) {
  #X00WrapperLogin, #X00WrapperMain {
    width: 95%;
  }
}

.tituloswiljor {padding: 10px;font-weight: bold;margin-bottom: 0px;}